/* .card1 {
    float: left;
}

.card2 {
    float: left;
} */

/* .container {
    display: flex; /* or inline-flex */
    /* flex-direction: row;
  } */

  /* #id1 {
    order: 1; /* default is 0 */

  /* }

  #id2 {
    order: 2; /* default is 0 */

  /* } */ 
